<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorar - Conecta Mayab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <div>
        {% include "menu.html" %}
    </div>
    
    <div class="contenido">
  
        <div class="users-container">
            <h1>Explorar Usuarios</h1>
        {% if usuarios %}
        
            {% for alumno in usuarios %}
                <div class="user-box">
                    <div>
                    <strong>{{ alumno.nombre }} {{alumno.apellido}}</strong>
                    <p class="user-info">{{ alumno.carrera }} | {{ alumno.semestre}} Semestre</p>
                    </div>
                    {% if alumno.siguiendo %}
                        <span style="color: green;">Siguiendo</span>
                    {% else %}
                        <form action="/explorar" method="POST" style="display: inline;">
                            <input type="hidden" name="id_a_seguir" value="{{ alumno.id }}">
                            <button type="submit">Seguir</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        
            {% else %}
                <p>No hay usuarios disponibles para seguir.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
